*{
    padding: 0;
    margin: 0;
  }
  body{
    /* background-image:url('https://cdn.pixabay.com/photo/2017/09/06/13/54/gray-2721559_960_720.jpg') ;
    background-repeat: no-repeat;
   background-size: cover; */
   background-image: linear-gradient(black,grey);
   background-size: cover;
   background-repeat: no-repeat;
  }